<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.DepartmentMapper">

    <resultMap id="depMap" type="com.atguigu.bean.Department">
        <id property="id" column="id"></id>
        <result property="departmentName" column="departmentName"></result>
    </resultMap>

    <select id="findOneDepartment" resultMap="depMap">
        select * from department
        <where>
            id=#{id}
        </where>
    </select>


    <select id="selectId" resultMap="depMap">
        select * from department where departmentName like #{departmentName}
    </select>

    <select id="selectById" resultMap="depMap">
        select * from department where id=#{id};
    </select>

</mapper>